@charset "UTF-8";
html, body { padding: 0; margin: 0; font-family: Tahoma, Arial, sans-serif; color: #000; font-size: 14px; }

.layoutCenterWrapper { width: 1000px; min-height: 50px; margin: 0 auto; }

.clearfix:after { content: ''; display: table; clear: both; }

/* СЕТКА */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { position: relative; min-height: 1px; margin-left: 5px; margin-right: 5px; float: left; }

.col-xs-1 { width: 8.33333%; }

.col-xs-2 { width: 16.66667%; }

.col-xs-3 { width: 25%; }

.col-xs-4 { width: 33.33333%; }

.col-xs-5 { width: 41.66667%; }

.col-xs-6 { width: 50%; }

.col-xs-7 { width: 58.33333%; }

.col-xs-8 { width: 66.66667%; }

.col-xs-9 { width: 75%; }

.col-xs-10 { width: 83.33333%; }

.col-xs-11 { width: 91.66667%; }

.col-xs-12 { width: 100%; }

/*  ВЕРХНЕЕ МЕНЮ  */
.menu-top { width: 100%; padding: 10px 0 10px; border-bottom: 2px solid #35c880; list-style: none; text-align: right; line-height: 0; font-size: 1px; }
.menu-top__item { list-style: none; display: inline-block; font-size: 14px; margin: 0; margin-left: 20px; }
.menu-top__item a { color: #000; text-decoration: none; }
.menu-top__item--active a, .menu-top__item--active span { color: #35c880; font-weight: bold; }

.content { float: right; width: 750px; }
.content--full { float: none; width: 100%; }

.main-title { float: 18px; color: #000; font-weight: normal; text-decoration: underline; }

/*  ТАБЛИЦА ТОВАРОВ  */
.goods-table { border-collapse: collapse; margin-bottom: 15px; }
.goods-table__head th { padding: 10px; }
.goods-table__row td { padding: 10px; }
.goods-table__row:nth-child(even) { background: #cff5e2; }
.goods-table__row td a { color: #35c880; }

/*  РЕДАКТИРОВАНИЕ  */
.good-edit { float: left; width: 100%; }
.good-edit__form { margin: 0; width: 100%; }
.good-edit__send { width: 120px; margin: 5px 0 5px; }
.good-edit__item { position: relative; margin: 15px 0 10px; width: 100%; }
.good-edit__item-title { margin: 0; color: #35c880; }
.good-edit__item-title span { font-size: 16px; }
.good-edit__item-title--left { margin-right: 10px; }
.good-edit__item-title--right { margin-left: 10px; float: right; }
.good-edit__text-field { width: 100%; box-sizing: border-box; color: #000; }
.good-edit__text-desc {width: 100%; box-sizing: border-box; color: #000; height: 50px}
.good-edit__checkbox { margin-right: 10px; }

.error { color: #f00; }